.card{
    background-image:url("../header.jpg");
    background-position: top;
    background-repeat:no-repeat;
    background-size: cover;
    height:900px;
    width:100%;
    }
    .title{
        text-align: center;
        right:10px

    }
   .line{
    border: 1px solid black;
    
   width:15%;
   }
   .text1{
       margin-left:400px; 
   }
   .text2{
    margin-left:400px;
    letter-spacing: -1px;
    font-size: 15.5px;  
   }
   footer{
    text-align: center;
        right:10px;
       margin-bottom: 20px;   
   }