
<div class="container">
  <h1 class="title">Daily Quotes</h1>
  <hr>
  <div class="row">
      <div class="col-md-12">
          <div class="card card-image">
  </div>
      </div>
      </div>


      <br><br><h5 class="text1">Welcome to our Quotes website</h5>
      <hr class="line">
<br><br><br><div class="row">     
    <div class="col-md-6">
      
      <div *ngFor='let quote of quotez;let i = index'>
        <div>
          <h6 id={{i}}>{{quote.description}}</h6>
          <h6 id={{i}}>Author:{{quote.Aname}}</h6>
          <h6 id={{i}}>Posted by:{{quote.name}}</h6>
          <h6 id={{i}}>{{quote.completeDate|timeAgo}}</h6>
          <app-quote-detail   (isComplete) = 'deleteQuotes($event,i)' ></app-quote-detail>
        </div>

      
      </div>
  
    
    </div>
    <div class="col-md-6">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
  </div>
 
</div>
