<div class="four wide column center aligned votes">
      <div class="ui statistic">
        
        <div class="value">
          {{ votes }}
        </div> 
        <div class="label">
          votes:
        </div>
    
      </div>
    
    </div>
    
    <div class="twelve wide column">
    
      <div class="ui big horizontal list voters">
          <div class="item">
          <a href (click)="likeVote()">
              <img src="quotes/src/up.png" >
            </a>
          </div>
    
          <div class="item">
          <a href (click)="dislikeVote()">
              <img src="quotes/src/up.png" >
          </a>
        </div>
    
      </div>
    </div>
    <button (click)= 'quoteDelete(true)'  class="btn btn-outline-danger">Delete Goal</button>