<div class="votes">
      <div class="value">
        <div class="container-fluid">
            <div class="value">
          <div class="row">
              <div class="col-md-4">
                  <p>{{ upvote }}</p>
              </div>
              <div class="col-md-4">
                  <p>{{ downvote }}</p>
              </div>
          </div>
        </div> 
         </div>
    
    </div>
    <div class="functions">
     <div class=" list voters">
    <div class="row">
    <div class="col-md-4">
   
        <div class="item">
          <a href (click)="likeVote()">
              Upvote
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="item">
          <a href (click)="dislikeVote()">
              Downvote
          </a>
         
        </div>
      </div>
      <div class="col-md-4">
          <p (click)= 'quoteDelete(true)' class="delete"  >Delete</p></div>
      </div>
    </div>
      </div>
    </div>
    
   