<div class="four wide column center aligned votes">
      <div class="ui statistic">
        
        <div class="value">
        <p>votes:{{ votes }}</p>
        </div> 
        
    
      </div>
    
    </div>
    <div class="twelve wide column">
     <div class="ui big horizontal list voters">
    <div class="row">
    <div class="col-md-6">
   
        <div class="item">
          <a href (click)="likeVote()">
              <img src="up.png" >
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="item">
          <a href (click)="dislikeVote()">
              <img src="original.png" >
          </a>
        </div>
      </div>
      </div>
      </div>
    </div>
    <button (click)= 'quoteDelete(true)'  class="btn btn-outline-danger">Delete</button>